# vs code
.vscode

# eclipse
.metadata
*/.settings
*/bin
*/.classpath
*/.project
*/src/module-info.java
/Servers
*/.gitignore
pgm11_tax/record.txt
jar-files/apache-*

*/src/main/webapp/meta-inf
*/src/main/webapp/web-inf